body {
  font-family: "Lato", sans-serif;
  
}
header {
  height:50px;
  background-color: #202020;
  color: silver;
  font-size:35px;
  text-align: center;  
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 50px;  
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as width of sidenav */
  font-size: 28px; /* bigger text to enable scrolling */
  padding: 0px 10px;
}

label {
	font-size: 20px;
}

table {
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: "Lato", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}
tr:nth-child(even){background-color: #D8D8D8;}
tr:hover {background-color: #B8B8B8;}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #686868;
  color: white;
  border: 1px solid #ddd;
  padding: 8px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}